<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.my.core.dao.AddressMapper">
    <resultMap id="BaseResultMap" type="com.site.blog.my.core.controller.vo.AddressVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress"/>
        <result column="set_default" jdbcType="INTEGER" property="setDefault"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id,username, phone, address, detail_address,set_default, create_time, update_time
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from eight_address
        where user_id = #{userId, jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from eight_address
        where id = #{id,jdbcType=BIGINT}
        and user_id = #{userId, jdbcType=BIGINT}
    </select>

    <insert id="create" parameterType="com.site.blog.my.core.entity.personeight.Address" useGeneratedKeys="true" keyProperty="id">
        insert into eight_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="username != null">username,</if>
            <if test="phone != null">phone,</if>
            <if test="address != null">address,</if>
            <if test="detailAddress != null">detail_address,</if>
            <if test="setDefault != null">set_default,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
            <if test="address != null">#{address,jdbcType=VARCHAR},</if>
            <if test="detailAddress != null">#{detailAddress,jdbcType=VARCHAR},</if>
            <if test="setDefault != null">#{setDefault,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>


    <update id="update" parameterType="com.site.blog.my.core.entity.personeight.Address">
        update eight_address
        <set>
            <if test="userId != null">user_id = #{userId,jdbcType=BIGINT},</if>
            <if test="username != null">username = #{username,jdbcType=VARCHAR},</if>
            <if test="phone != null">phone = #{phone,jdbcType=VARCHAR},</if>
            <if test="address != null">address = #{address,jdbcType=VARCHAR},</if>
            <if test="detailAddress != null">detail_address = #{detailAddress,jdbcType=VARCHAR},</if>
            <if test="setDefault != null">set_default = #{setDefault,jdbcType=INTEGER},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
        and user_id = #{userId, jdbcType=BIGINT}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from eight_address where id = #{id,jdbcType=BIGINT}
        and user_id = #{userId, jdbcType=BIGINT}
    </delete>

</mapper>

